@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

$spacer: 24px;

$primary: #242F40;
$secondary: #e91e63;
$grey: #363636;
$grey-light: #E5E5E5;

$transition: 0.3s ease;

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  min-height: 100vh;
}

button {
  margin: $spacer/4 !important;
}

h1 {
  font-family: 'Allerta Stencil', sans-serif;
  color: $grey-light;
  font-weight: 400;
  font-size: 100px;
  margin: 0;
}

a {
  color: $grey-light !important;
}
