<template>
  <div class="Chat">
    <h1>chat</h1>
    <div class="Chat_list">
      <message-list/>
    </div>
  </div>
</template>

<script>
import MessageList from '../components/MessageList'
export default {
  name: 'Chat',
  components: {
    MessageList
  }
}
</script>

<style lang="scss">
@import './../styles/base.scss';
.Chat {
  &_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
</style>
