<template>
  <div class="Login">
    <div class="Login_logo">
      <h1>stylecheck</h1>
    </div>
    <div class="Login_input">
      <v-text-field v-model="user.email" label="Username"></v-text-field>
      <v-text-field v-model="user.password" :type="'password'" label="Password"></v-text-field>
      <v-btn dark color="pink" @click="loginUser">Login</v-btn>
      <v-btn dark color="pink" @click="googleloginUser">Login with Google</v-btn>
    </div>
  </div>
</template>

<script>
import {auth} from '../api/firebaseConfig'
import * as firebase from 'firebase'

export default {
  name: 'Login',
  components: {
  },
  data () {
    return {
      user: {
        email: '',
        password: ''
      }
    }
  },
  methods: {
    googleloginUser: function () {
      let provider = new firebase.auth.GoogleAuthProvider()
      auth.setPersistence(firebase.auth.Auth.Persistence.NONE).then(() => {
        auth.signInWithPopup(provider).then((result) => {
          this.$store.dispatch('setUser', result).then(() => {
            }, (error) => {
              console.log(error)
            })
          this.$router.replace('/stylecheck')
        }).catch((error) => {
          console.log(error)
        })
      })
    },
    loginUser: function () {
      auth.setPersistence(firebase.auth.Auth.Persistence.NONE).then(() => {
        auth.signInWithEmailAndPassword(this.user.email, this.user.password).then((result) => {
          this.$store.dispatch('setUser', result).then(() => {
            }, (error) => {
              console.log(error)
            })
          this.$router.replace('/stylecheck')
        }).catch((error) => {
          console.log(error)
        })
      })
    }
  }
}
</script>

<style lang="scss">
@import './../styles/base.scss';
.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $primary;
  min-height: 100vh;
  &_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacer*4;
    h1 {
      font-family: 'Allerta Stencil', sans-serif;
      color: $grey-light;
      font-weight: 400;
      font-size: 100px;
    }
  }
  &_input {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: $spacer $spacer;
    border: 5px solid white;
    background-color: $grey-light;
    margin-bottom: $spacer*2;
    .v-input {
      width: 300px;
    }
    button {
      width: 300px;
    }
    a {
      margin-top: $spacer/4;
    }
  }
}
</style>
