<template>
  <div class="Profile">
    <h1>profile</h1>
    <div class="Profile-Photos">
      <photos></photos>
    </div>
  </div>
</template>

<script>
import Photos from '../components/Photos'

export default {
  name: 'Profile',
  components: {
    Photos
  }
}
</script>

<style lang="scss">
@import './../styles/base.scss';
.Profile {
  &-Photos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: $spacer*4;
  }
}
</style>
