<template>
  <div class="Snapshot">
    <h1>snapshot</h1>
    <ManagePhoto/>
  </div>
</template>

<script>
import ManagePhoto from '../components/ManagePhoto'
export default {
  name: 'Snapshot',
  components: {
    ManagePhoto
  }
}
</script>

<style lang="scss">
@import './../styles/base.scss';
</style>
