<template>
  <div class="Stylecheck">
    <h1>stylecheck</h1>
    <div class="Stylecheck_rating">
      <div class="Stylecheck_rating_photo">
        <img :src="randomPhoto.url" alt="photo"/>
      </div>
      <div class="Stylecheck_rating_info">
        <div class="Stylecheck_rating_info--owner">
          <img v-for="(owner, key) in ownerImage" :key="key" :src="owner.image" alt="avatar"/>
          <span>{{randomPhoto.owner}}</span>
          <v-btn v-if="this.rating >= 3" @click="sendOpen = true" dark fab small color="pink"><v-icon>chat</v-icon></v-btn>
        </div>
        <div class="text-xs-center">
          <v-chip v-if="randomPhoto.category">{{randomPhoto.category}}</v-chip>
        </div>
      </div>
      <div class="Stylecheck_rating_votes">
        <v-rating
          v-model="rating"
          color="pink"
          background-color="primary lighten-1"
          :full-icon="fullIcon"
          :empty-icon="emptyIcon"
          :readonly="readonly"
          :rating="rating"
          :length="length"
          size="56">
        </v-rating>
        <v-btn @click="goNext()" dark fab large color="pink"><v-icon>refresh</v-icon></v-btn>
      </div>
    <v-snackbar v-model="snackbar" :color="color" :bottom="y === 'bottom'" :left="x === 'left'" :multi-line="mode === 'multi-line'" :right="x === 'right'" :timeout="timeout" :top="y === 'top'" :vertical="mode === 'vertical'">
     <span>You have already rated this photo.</span>
    </v-snackbar>
    <v-dialog v-model="sendOpen" max-width="300">
      <new-message v-on:ratePhoto="goNext()" v-on:closeDialog="sendOpen = false" type="question" :photoKey="randomPhotoKey" :receiver="randomPhoto.owner"/>
    </v-dialog>
  </div>
</div>
</template>

<script>
import {db, auth} from '../api/firebaseConfig'
import {mapGetters} from 'vuex'
import NewMessage from '../components/NewMessage'

export default {
  name: 'Stylecheck',
  components: {
    NewMessage
  },
  data () {
    return {
      ownerImage: '',
      sendOpen: false,
      allPhotos: {},
      randomPhoto: {
        "url": 'https://www.rivet-expert.com/wp-content/uploads/2018/03/Placeholder.png'
      },
      randomPhotoKey: 0,
      // Snackbar Settings
      snackbar: false,
      color: 'pink',
      y: 'bottom',
      x: null,
      mode: '',
      timeout: 2000,
      // Rating Settings
      fullIcon: 'favorite',
      emptyIcon: 'favorite_border',
      length: 5,
      rating: 0,
      readonly: false
    }
  },
  computed: {
    //Vuex Zugriff
    ...mapGetters({
      user: 'getUser',
      userId: 'getUserId'
    })
  },
  methods: {
    getPhotos: function () {
      this.rating = 0
      db.ref('/photos/').once('value').then(snapshot => {
        this.allPhotos = snapshot.val()
        let keys = Object.keys(this.allPhotos)
        let randomize = keys.length * Math.random() << 0
        this.randomPhoto = this.allPhotos[keys[randomize]]
        this.randomPhotoKey = keys[randomize]
        this.getOwnerImage()
      })
    },
    getOwnerImage: function () {
      let ownerUsername = this.randomPhoto.owner
      db.ref('users').orderByChild('username').equalTo(ownerUsername).on('value', (snapshot) => {
        this.ownerImage = snapshot.val()
      })
    },
    setRate: function () {
      return new Promise((resolve, reject) => {
        if (this.rating != 0) {
          db.ref('/photos/' + this.randomPhotoKey + '/ratings/' + auth.currentUser.uid).once('value', (snapshot) => {
            if (snapshot.val() === null) {
              db.ref('/photos/' + this.randomPhotoKey + '/ratings/' + auth.currentUser.uid).set(this.rating).then(() => {
                console.log('rating set')
                resolve()
              }, (error) => {
                console.log(error)
                reject()
              })
            } else {
              this.snackbar = true
              resolve()
            }
          }, (error) => {
            console.log(error)
            reject()
          })
        }
      })
    },
    goNext: function () {
      if (this.rating > 0) {
        this.setRate().then(() => {
          this.getPhotos()
        })
      } else {
        this.getPhotos()
      }
    }
  },
  mounted () {
    this.getPhotos()
  }
}
</script>

<style lang="scss">
@import './../styles/base.scss';
  .Stylecheck {
    &_rating {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: $primary;
      &_photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 640px;
        height: 480px;
        background-color: black;
        img {
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          max-width: 640px;
          max-height: 480px;
        }
      }
      &_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 500px;
        margin-top: $spacer/2;
        font-family: 'Allerta Stencil', sans-serif;
        span {
          font-size: 18px;
        }
        &--owner {
          display: flex;
          align-items: center;
          margin-top: $spacer/2;
          span {
            color: $grey-light;
            font-size: 24px;
          }
          img {
            width: 56px;
            height: 56px;
            margin-right: $spacer/2;
            border-radius: 50%;
          }
          button {
            margin: 0 0 0 $spacer/2 !important;
          }
        }
      }
      &_votes {
        font-family: 'Allerta Stencil', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .v-rating {
          margin: $spacer 0;
        }
      }
    }
  }
</style>
