<template>
  <div class="ManagePhoto">
    <v-dialog v-model="ManagePhotoDialog" max-width="640">
      <div class="ManagePhoto_dialog">
        <video ref="video" id="video" width="640" height="480" autoplay></video>
        <v-btn @click="capture" dark fab large color="pink"><v-icon>camera</v-icon></v-btn>
      </div>
    </v-dialog>
    <div class="ManagePhoto_canvas">
      <div class="ManagePhoto_canvas--container">
        <img v-if="censored" src="https://image.flaticon.com/icons/svg/576/576790.svg" id="censorePicture" alt="censorePicture"/>
        <canvas ref="canvas" id="canvas" width="640" height="480"></canvas>
      </div>
    </div>
    <div class="ManagePhoto_buttons">
      <v-btn @click="ManagePhotoDialog = true" dark color="pink" fab large><v-icon>add_a_photo</v-icon></v-btn>
      <v-btn @click="uploadDialog = true" fab dark color="pink" large><v-icon>publish</v-icon></v-btn>
      <v-btn v-if="!snapshotURL" disabled dark fab large color="pink"><v-icon>face</v-icon></v-btn>
      <v-btn v-if="snapshotURL && !censored" @click="detectFace" dark fab large color="pink"><v-icon>face</v-icon></v-btn>
      <v-btn v-if="snapshotURL && censored" @click="detectFace" dark fab large color="green"><v-icon>face</v-icon></v-btn>
      <v-btn v-if="snapshotURL" @click="uploadFile" dark fab large color="pink"><v-icon>cloud_upload</v-icon></v-btn>
      <v-btn v-if="!snapshotURL" disabled dark fab large color="pink"><v-icon>cloud_upload</v-icon></v-btn>
      <v-progress-circular
        v-if="loading === true"
        indeterminate
        color="#4CAF50">
      </v-progress-circular>
    </div>
    <v-select
      v-model="category"
      :items="items"
      class="categorySelect"
      label="Category"
      solo
    ></v-select>
    <div class="ManagePhoto_list">
      <div v-for="(snapshot, key) in snapshotURLs" :key="key">
        <img @click="preview(snapshot)" :src="snapshot" :class="{active: snapshot === snapshotURL}"/>
      </div>
    </div>
    <!-- Upload Dialog -->
    <v-dialog v-model="uploadDialog" max-width="300">
      <upload v-on:uploadUrl="captureUploadedPhoto"/>
    </v-dialog>
    <!-- Process Dialog -->
    <process-dialog
      v-if="processDialogOpen"
      v-on:dialogClosed="closeDialog"
      :identifyPicture="identifyPicture"
      :censorePicture="censorePicture"
      :uploadStorage="uploadStorage"
      :writeUserDB="writeUserDB"
      :writePhotoDB="writePhotoDB"
      />
  </div>
</template>

<script>
import {storage, db, auth} from '../api/firebaseConfig'
import {mapGetters} from 'vuex'
import axios from 'axios'

import ProcessDialog from './ProcessDialog'
import Upload from './Upload'

export default {
  name: 'ManagePhoto',
  components: {
    ProcessDialog,
    Upload
  },
  data () {
    return {
      // UploadDialog Settings
      uploadDialog: false,
      // ProcessDialog Settings
      processDialogOpen: false,
      identifyPicture: 'censored',
      censorePicture: false,
      uploadStorage: false,
      writeUserDB: false,
      writePhotoDB: false,
      // Categorys
      items: [
         'business',
         'casual',
         'chill',
         'clubwear',
         'elegant',
         'outdoor',
         'smart',
         'sporty'
       ],
      ManagePhotoDialog: false,
      loading: false,
      censored: false,
      category: '',
      video: {},
      canvas: {},
      snapshotURLs: [],
      snapshotURL: '',
      // For face detection
      apiKey: 'AIzaSyBliSZeD_fHCq2HukGplSjvdd_W2UVMTbY',
      result: false,
      anger: null,
      blur: null,
      headwear: null,
      sorrow: null,
      joy: null,
      surprised: null,
      vertices: {},
      data: {
        "requests": [{
          "features": [{
            "type": "FACE_DETECTION"
          }],
          "image": {
            "content": null
          }
        }]
      }
    }
  },
  computed: {
    ...mapGetters({
      user: 'getUser'
    })
  },
  watch: {
    snapshotURLs () {
      if (!this.snapshotURL && this.snapshotURLs.length === 1) {
        this.snapshotURL = this.snapshotURLs
      } else {
        this.snapshotURL = ''
      }
    },
    ManagePhotoDialog () {
      if (!this.ManagePhotoDialog) {
        this.stopStream()
      } else if (this.ManagePhotoDialog) {
        this.startStream()
      }
    }
  },
  methods: {
    captureUploadedPhoto (fileURL) {
      this.uploadDialog = false
      console.log(fileURL)
      this.canvas = this.$refs.canvas
      let img = new Image
      img.onload = () => {
        this.canvas.getContext("2d").drawImage(img, 0, 0)
      }
      img.src = fileURL
      img.crossOrigin = "anonymous"
      this.snapshotURL = this.canvas.toDataURL("image/png")
    },
    closeDialog () {
      this.processDialogOpen = false
      this.censorePicture = false
      this.uploadStorage = false
      this.writeUserDB = false
      this.writePhotoDB = false
    },
    startStream() {
      this.video = this.$refs.video;
      if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true }).then(stream => {
              window.localStream = stream
              this.video.srcObject = stream
              this.video.play()
          });
      }
    },
    stopStream() {
      window.localStream.getTracks().forEach((track) => {
        track.stop()
      })
    },
    capture() {
      this.canvas = this.$refs.canvas
      this.canvas.getContext("2d").drawImage(this.video, 0, 0, 640, 480)
      this.snapshotURLs.push(this.canvas.toDataURL("image/png"))
    },
    preview(snapshotURL) {
      this.censored = false
      this.canvas = this.$refs.canvas
      let context = this.canvas.getContext("2d")
      let imageObj = new Image()
      imageObj.onload = () => {
        context.drawImage(imageObj, 0, 0, 640, 480)
      }
      imageObj.src = snapshotURL
      this.snapshotURL = snapshotURL
    },
    detectFace () {
      if (this.censored) {
        this.censored = false
      } else {
        this.loading = true
        this.censored = true
        this.result = false
        let photoURL = this.canvas.toDataURL("image/png").split(',')[1]
        this.data.requests[0].image.content = photoURL
        axios.post(
          `https://vision.googleapis.com/v1/images:annotate?key=${this.apiKey}`,
          this.data).then(response => {
          const result = response.data.responses[0].faceAnnotations[0]
          this.vertices = result.fdBoundingPoly.vertices
          this.setCensorePicture()
        }).catch(error => {
          console.log(error)
        })
      }
    },
    setCensorePicture () {
      let faceWidth = (this.vertices[2].x - this.vertices[3].x)*1.5
      let faceY = this.vertices[0].y - 30
      let faceX = this.vertices[0].x - 15
      document.getElementById('censorePicture').style.visibility = 'visible'
      document.getElementById('censorePicture').style.top = faceY.toString() + 'px'
      document.getElementById('censorePicture').style.left = faceX.toString() + 'px'
      document.getElementById('censorePicture').style.width = faceWidth.toString() + 'px'
      this.loading = false
      this.censorePicture = true
    },
    saveCensorePicture () {
      return new Promise ((resolve) => {
        let faceHight = (this.vertices[2].y - this.vertices[1].y)*1.5
        let faceWidth = (this.vertices[2].x - this.vertices[3].x)*1.5
        let faceY = this.vertices[0].y - 30
        let faceX = this.vertices[0].x - 15

        let context = this.canvas.getContext("2d")
        let imageObj = new Image()
        imageObj.crossOrigin="anonymous"
        imageObj.src = 'https://image.flaticon.com/icons/svg/576/576790.svg'
        imageObj.onload = () => {
          context.drawImage(imageObj, faceX, faceY, faceWidth, faceHight)
          console.log('picture is now censored')
          resolve()
        }
      })
    },
    uploadFile: function () {
      this.loading = true
      this.processDialogOpen = true
      if (this.censored) {
        console.log('identify censored picture')
        this.identifyPicture = 'censored'
        this.saveCensorePicture().then(() => {
          console.log('continuing upload')
          let photoURL = this.canvas.toDataURL("image/png").split(',')[1]
          let photoKey = db.ref('/photos/').push().key
          let storageRef = storage.child('/photos/' + photoKey)
          storageRef.putString(photoURL, 'base64').then(() => {
            console.log('successfully added to storage')
            this.uploadStorage = true
            storageRef.getDownloadURL().then((url) => {
              let fileURL = url
              let postData = {
                url: fileURL,
                owner: this.$store.state.user.user.username,
                censored: this.censored,
                category: this.category
              }
              db.ref('/users/' + auth.currentUser.uid + '/photos/').once('value', (snapshot) => {
                this.photos = snapshot.val()
                if (this.photos == null) {
                  this.photos = []
                  this.photos.push(photoKey)
                } else {
                  this.photos.push(photoKey)
                }
                db.ref('/users/' + auth.currentUser.uid + '/photos/').set(this.photos).then(() => {
                  console.log('successfully written in user database')
                  this.writeUserDB = true
                }, (error) => {
                  this.loading = false
                  console.log(error)
                })
              }, (error) => {
                this.loading = false
                console.log(error)
              })
              db.ref('/photos/' + photoKey).update(postData).then(() => {
                console.log('successfully written in photo database')
                this.writePhotoDB = true
                this.loading = false
                this.$emit('closeDialog')
              }, (error) => {
                this.loading = false
                console.log(error)
              })
            }).catch((error) => {
              this.loading = false
              console.log(error)
            })
          })
        })
      } else {
        console.log('identify uncensored picture')
        this.identifyPicture = 'uncensored'
        let photoURL = this.canvas.toDataURL("image/png").split(',')[1]
        let photoKey = db.ref('/photos/').push().key
        let storageRef = storage.child('/photos/' + photoKey)
        storageRef.putString(photoURL, 'base64').then(() => {
          console.log('successfully added to storage')
          this.uploadStorage = true
          storageRef.getDownloadURL().then((url) => {
            let fileURL = url
            let postData = {
              url: fileURL,
              owner: this.$store.state.user.user.username,
              censored: this.censored,
              category: this.category
            }
            db.ref('/users/' + auth.currentUser.uid + '/photos/').once('value', (snapshot) => {
              this.photos = snapshot.val()
              if (this.photos == null) {
                this.photos = []
                this.photos.push(photoKey)
              } else {
                this.photos.push(photoKey)
              }
              db.ref('/users/' + auth.currentUser.uid + '/photos/').set(this.photos).then(() => {
                console.log('successfully written in user database')
                this.writeUserDB = true
              }, (error) => {
                this.loading = false
                console.log(error)
              })
            }, (error) => {
              this.loading = false
              console.log(error)
            })
            db.ref('/photos/' + photoKey).update(postData).then(() => {
              console.log('successfully written in photo database')
              this.writePhotoDB = true
              this.loading = false
              this.$emit('closeDialog')
            }, (error) => {
              this.loading = false
              console.log(error)
            })
          }).catch((error) => {
            this.loading = false
            console.log(error)
          })
        })
      }
    }
  }
}
</script>

<style lang="scss">
@import './../styles/base.scss';
.ManagePhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  &_canvas {
    margin: $spacer/2;
    height: 480px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: lighten($primary,5);
    &--container {
      width:100%;
      height:100%;
      position:relative;
      img {
        position:absolute;
        top:0px;
        left:0px;
        visibility: hidden;
      }
      p {
        color: white;
        margin-left: $spacer;
        margin-top: $spacer;
      }
    }
  }
  .categorySelect {
    margin: $spacer/2 !important;
  }
  &_buttons {
    display: flex;
    align-items: center;
    .v-select {
      margin: 0 $spacer;
    }
  }
  &_dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary;
    button {
      margin: $spacer !important;
    }
  }
  &_list {
    display: flex;
    max-width: 640px;
    flex-wrap: wrap;
    img {
      border: 2px solid $primary;
      transition: $transition;
      height: 78px;
      margin: $spacer/2;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      &:hover {
        cursor: pointer;
      }
      &.active {
        border: 2px solid #4CAF50;
        transition: $transition;
      }
    }
  }
}
</style>
