<template>
  <div class="MessageListItem">
    <div class="MessageListItem_photo">
      <img v-if="messagePhotoLoaded && getMessagePhoto()" :src="getMessagePhoto()" alt="image"/>
      <p v-if="getMessagePhoto() == null">This photo has been deleted by the owner.</p>
    </div>
    <div class="MessageListItem_info">
      <div class="MessageListItem_info--sender">
        <div class="MessageListItem_info--sender-left" v-if="this.message.sender !== this.user.username">
          <img @click="senderImageOpen = true" v-for="(sender, key) in senderImage" :key="key" :src="sender.image" alt="sender"/>
          <span>{{this.message.sender}}</span>
        </div>
        <div class="MessageListItem_info--receiver-left" v-if="this.message.sender === this.user.username">
          <img @click="receiverImageOpen = true" v-for="(receiver, key) in receiverImage" :key="key" :src="receiver.image" alt="avatar"/>
          <span>{{this.message.receiver}}</span>
        </div>
        <div class="MessageListItem_info--sender-right">
          <v-icon v-if="this.message.type === 'question'" dark>chat_bubble</v-icon>
          <v-icon color="green" v-if="this.message.type === 'reply'" dark>question_answer</v-icon>
        </div>
      </div>
      <div class="MessageListItem_info_text">
        <span>{{this.message.text}}</span>
      </div>
      <div class="MessageListItem_info_reply">
        <span>{{getTime(this.message.timestamp)}}</span>
        <div class="MessageListItem_info_reply--actions">
          <v-btn @click="replyOpen = true" small fab dark icon>
            <v-icon>reply</v-icon>
          </v-btn>
          <v-btn v-if="this.message.sender === this.user.username" @click="deleteMessage()" small fab dark icon>
            <v-icon color="red lighten-1">delete</v-icon>
          </v-btn>
        </div>
      </div>
    </div>
    <v-dialog v-model="replyOpen" max-width="300">
      <new-message v-on:closeDialog="replyOpen = false" type="reply" :photoKey="this.message.photoKey" :receiver="this.message.sender"/>
    </v-dialog>
    <v-dialog v-model="senderImageOpen" max-width="400" max-height="400">
      <img v-for="(sender, key) in senderImage" :key="key" class="MessageListItem_info--sender-left_dialog" :src="sender.image" alt="sender"/>
    </v-dialog>
    <v-dialog v-model="receiverImageOpen" max-width="400" max-height="400">
      <img v-for="(receiver, key) in receiverImage" :key="key" class="MessageListItem_info--sender-left_dialog" :src="receiver.image" alt="sender"/>
    </v-dialog>
  </div>
</template>

<script>
import * as moment from 'moment'
import {db} from '../api/firebaseConfig'
import {mapGetters} from 'vuex'
import NewMessage from './NewMessage'

export default {
  name: 'MessageListItem',
  components: {
    NewMessage
  },
  props: ['message', 'messageKey'],
  data () {
    return {
      messagePhotoLoaded: false,
      senderImageOpen: false,
      receiverImageOpen: false,
      replyOpen: false,
      senderImage: '',
      receiverImage: '',
    }
  },
  computed: {
    ...mapGetters({
      user: 'getUser'
    })
  },
  methods: {
    getReceiverImage: function () {
      db.ref('users').orderByChild('username').equalTo(this.message.receiver).on('value', (snapshot) => {
        this.receiverImage = snapshot.val()
      })
    },
    getTime: function (timestamp) {
      let time = moment(timestamp)
      let timeOutput = time.format('LLLL')
      return timeOutput
    },
    getOwnerImage: function () {
      let senderUsername = this.message.sender
      db.ref('users').orderByChild('username').equalTo(senderUsername).on('value', (snapshot) => {
        this.senderImage = snapshot.val()
      })
    },
    getMessagePhoto: function () {
      let messagePhoto = ''
      db.ref('photos/' + this.message.photoKey + '/url').on('value', (snapshot) => {
        messagePhoto = snapshot.val()
        this.messagePhotoLoaded = true
      })
      return messagePhoto
    },
    deleteMessage: function () {
      // delete message in database
      db.ref('/messages/' + this.messageKey).set(null).then(() => {
        console.log('successfully deleted message in database')
      }, (error) => {
        console.log(error)
      })
    }
  },
  mounted () {
    this.getOwnerImage()
    this.getMessagePhoto()
    this.getReceiverImage()
  }
}
</script>

<style lang="scss">
@import './../styles/base.scss';
.MessageListItem {
  display: flex;
  margin: $spacer;
  background-color: lighten($primary,5);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 200px;
  &_photo {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    img {
      max-height: 200px;
      max-width: 200px;
    }
    p {
      text-align: center;
      color: $grey-light;
      margin: $spacer;
    }
  }
  &_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: $spacer/2 $spacer/2 0 $spacer/2;
    &--sender {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-right {
        margin-right: $spacer/4;
      }
      &-left {
          display: flex;
          align-items: center;
        img {
          cursor: pointer;
          width: 40px;
          height: 40px;
          margin-left: $spacer/4;
          margin-right: $spacer/4;
          border-radius: 50%;
        }
        span {
          margin-left: $spacer/4;
          color: $grey-light;
          font-size: 16px;
          font-family: 'Allerta Stencil', sans-serif;
        }
        &_dialog {
          width: 100%;
        }
      }
    }
    &--receiver {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-right {
        margin-right: $spacer/4;
      }
      &-left {
          display: flex;
          align-items: center;
        img {
          cursor: pointer;
          width: 40px;
          height: 40px;
          margin-left: $spacer/4;
          margin-right: $spacer/4;
          border-radius: 50%;
        }
        span {
          margin-left: $spacer/4;
          color: $grey-light;
          font-size: 16px;
          font-family: 'Allerta Stencil', sans-serif;
        }
        &_dialog {
          width: 100%;
        }
      }
    }
    &_text {
      font-style: italic;
      overflow: auto;
      margin-top: $spacer/2;
      margin-left: $spacer/4;
      margin-right: $spacer/4;
      padding: $spacer/2;
      background-color: $grey-light;
      height: 68px;
      border-radius: 2px;
    }
    &_reply {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Allerta Stencil', sans-serif;
      button {
        margin-right: 0 !important;
      }
      span {
        opacity: 0.2;
        color: $grey-light;
        margin: 0 $spacer/4;
      }
    }
  }
}
</style>
