<template>
  <div class="MessageList">
    <div class="MessageList_filter">
      <v-btn @click="visible = 'received'" fab><v-icon>drafts</v-icon></v-btn>
      <v-btn @click="visible = 'sent'"  fab><v-icon>reply_all</v-icon></v-btn>
    </div>
    <h3 v-if="visible === 'received'"><v-icon dark>drafts</v-icon>Received Messages</h3>
    <div v-if="visible === 'received'">
      <message-list-item v-for="(message, key) in allMessages" :key="key" :messageKey="key" :message="message"/>
    </div>
    <h3 v-if="visible === 'sent'"><v-icon dark>reply_all</v-icon>Sent Messages</h3>
    <div v-if="visible === 'sent'">
      <message-list-item v-for="(reply, key) in allReplys" :key="key" :messageKey="key" :message="reply"/>
    </div>
  </div>
</template>

<script>
import {db} from '../api/firebaseConfig'
import {mapGetters} from 'vuex'
import MessageListItem from './MessageListItem'
export default {
  name: 'MessageList',
  components: {
    MessageListItem
  },
  data () {
    return {
      allMessages: {},
      allReplys: {},
      visible: 'received'
    }
  },
  computed: {
    ...mapGetters({
      user: 'getUser'
    })
  },
  methods: {
    getMessages: function () {
      db.ref('messages').orderByChild('receiver').equalTo(this.user.username).on('value', (snapshot) => {
        this.allMessages = snapshot.val()
      })
      db.ref('messages').orderByChild('sender').equalTo(this.user.username).on('value', (snapshot) => {
        this.allReplys = snapshot.val()
      })
    }
  },
  mounted () {
    this.getMessages()
  }
}
</script>

<style lang="scss">
@import './../styles/base.scss';
.MessageList {
  max-width: 1200px;
  margin-right: $spacer*4;
  h3 {
    color: $grey-light;
    margin-left: $spacer;
    font-weight: 400;
    display: flex;
    i {
      margin-right: $spacer/2;
    }
  }
  &_filter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
</style>
