<template>
  <div class="Navigation">
    <router-link to="/stylecheck">
      <v-btn id="timelineButton" absolute dark fab right large color="pink"><v-icon>favorite</v-icon></v-btn>
    </router-link>
    <router-link to="/profile">
      <v-btn id="profileButton" absolute dark fab right large color="pink"><v-icon>person</v-icon></v-btn>
    </router-link>
    <router-link to="/snapshot">
      <v-btn id="photoButton" absolute dark fab right large color="pink"><v-icon>camera_alt</v-icon></v-btn>
    </router-link>
    <router-link to="/chat">
      <v-btn id="chatButton" absolute dark fab right large color="pink"><v-icon>chat</v-icon></v-btn>
    </router-link>
    <v-btn id="logoutButton" absolute dark fab right large color="pink" @click="logoutUser"><v-icon>cancel</v-icon></v-btn>
    <v-dialog v-model="dialog" max-width="300">
      <upload v-on:closeDialog="dialog = false"/>
    </v-dialog>
  </div>
</template>

<script>
import {auth} from '../api/firebaseConfig'
import {mapGetters} from 'vuex'
import Upload from './Upload'

export default {
  name: 'Navigation',
  components: {
    Upload
  },
  data () {
    return {
      dialog: false,
      selectedFile: '',
      censored: false,
      category: '',
      photos: []
    }
  },
  computed: {
    ...mapGetters({
      user: 'getUser'
    })
  },
  methods: {
    logoutUser: function () {
      auth.signOut()
        .then(() => {
          this.$store.dispatch('logoutUser')
          this.$router.replace('/login')
        })
        .catch((error) => {
          console.log(error)
        })
    }
  }
}
</script>

<style lang="scss">
@import './../styles/base.scss';
#timelineButton {
  top: $spacer;
}
#profileButton {
  top: $spacer*5;
}
#photoButton {
  top: $spacer*9;
}
#uploadButton {
  top: $spacer*13;
}
#chatButton {
  top: $spacer*13;
}
#logoutButton {
  top: $spacer*17;
}
</style>
