<template>
    <v-card>
      <v-card-text>
        <div class="NewMessage">
          <v-textarea
          box
          name="newMessage"
          label="Message"
          maxlength="150"
          v-model='text'
        ></v-textarea>
        <span>{{this.text.length}}/150</span>
        </div>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="sendMessage" dark fab color="pink"><v-icon>send</v-icon></v-btn>
      </v-card-actions>
    </v-card>
</template>

<script>
import {db} from '../api/firebaseConfig'
import {mapGetters} from 'vuex'

export default {
  name: 'Upload',
  props: ['photoKey', 'receiver', 'type'],
  data () {
    return {
      text: ""
    }
  },
  computed: {
    ...mapGetters({
      user: 'getUser'
    })
  },
  methods: {
    sendMessage: function () {
      if (this.text !== "") {
        let messageData = {
          "photoKey": this.photoKey,
          "receiver": this.receiver,
          "sender": this.user.username,
          "text": this.text,
          "type": this.type,
          "timestamp": new Date().getTime()
        }
        let messageKey = db.ref('/message/').push().key
        db.ref('/messages/' + messageKey).update(messageData).then(() => {
          console.log('successfully written in messages database')
          this.$emit('closeDialog')
          this.$emit('ratePhoto')
        }, (error) => {
          console.log(error)
        })
      } else {
        console.log('empty')
      }
    }
  }
}
</script>

<style lang="scss">
@import './../styles/base.scss';
.NewMessage {
  display: flex;
  flex-direction: column;
  span {
    text-align: right;
  }
}
.v-card__text {
  padding-top: $spacer/1.5;
  padding-left: $spacer/1.5;
  padding-right: $spacer/1.5;
  padding-bottom: 0;
}
.v-text-field__details {
  display: none;
}
</style>
