<template>
  <div class="Photos">
      <div v-if="userPhotos.length <= 0" class="Photos_info">
        <img src="../assets/hello.png" alt="hello"/>
        <router-link to="/snapshot">
          <span>Click here to create your first post...</span>
        </router-link>
      </div>
      <div v-for="(photo, index) in userPhotos" :key="photo.url" class="Photos_item">
        <div class="Photos_item--image">
          <img :src="photo.url" alt="photo.category"/>
        </div>
        <div class="Photos_item--category">
          <v-rating
            color="pink"
            background-color="primary lighten-1"
            :full-icon="fullIcon"
            :empty-icon="emptyIcon"
            :readonly="readonly"
            :value="getAverageRating(photo.ratings)"
            :length="length">
          </v-rating>
          <span>({{getRatings(photo.ratings)}})</span>
        </div>
        <div class="Photos_item--info">
          <v-chip v-if="photo.category">{{photo.category}}</v-chip>
          <!-- Pseudo-Element, dass Mülleimer rechts angezeigt wird -->
          <div style="width: 20px" v-if="!photo.category"></div>
          <v-btn flat icon color="red lighten-1" @click="deletePhoto(index)">
            <v-icon>delete</v-icon>
          </v-btn>
        </div>
      </div>
  </div>
</template>

<script>
import {storage, db, auth} from '../api/firebaseConfig'
import {mapGetters} from 'vuex'

export default {
  name: 'Photos',
  data: () => ({
    allPhotos: [],
    userPhotos: [],
    userPhotosKey: [],
    // Rating Settings
    fullIcon: 'favorite',
    emptyIcon: 'favorite_border',
    length: 5,
    readonly: true
  }),
  computed: {
    ...mapGetters({
      user: 'getUser'
    })
  },
  methods: {
    getRatings: function (obj) {
      if (obj) {
        let i = 0
        Object.entries(obj).forEach(() => {
          i++
        })
        return i
      }
    },
    getAverageRating: function (obj) {
      if (obj) {
        let ratings = 0
        let i = 0
        Object.entries(obj).forEach((value) => {
          ratings = ratings + value
          i++
        })
        let averageRating = Math.round(ratings / i)
        return averageRating
      }
    },
    getPhotos: function () {
      this.userPhotos = []
      let userId = auth.currentUser.uid
      db.ref('/users/' + userId + '/photos/').once('value').then(snapshot => {
        this.allPhotos = snapshot.val()
        // check if there are already photos available for this user
        if (this.allPhotos != null) {
          for (let i = 0; i < this.allPhotos.length; i++) {
            let currentPhoto = this.allPhotos[i]
            db.ref('/photos/' + currentPhoto).once('value').then((snapshot) => {
              this.userPhotos.push(snapshot.val())
              this.userPhotosKey.push(currentPhoto)
            })
          }
        } else {
          console.log('no photos were found for this user')
        }
      })
    },
    deletePhoto: function (index) {
      this.deletePhotoFromStorage(index).then(() => {
        this.deletePhotoFromUserDB(index).then(() => {
          this.deletePhotoFromPhotoDB(index).then(() => {
            console.log('photo deleted successfully')
            this.getPhotos()
          })
        })
      })
    },
    deletePhotoFromStorage: function (index) {
      return new Promise ((resolve, reject) => {
        // delete file from storage
        storage.child('/photos/' + this.userPhotosKey[index]).delete().then(() => {
          console.log('successfully deleted photo file from storage')
          resolve()
        }).catch(function(error) {
          console.log(error)
          reject()
        })
      })
    },
    deletePhotoFromUserDB: function (index) {
      return new Promise ((resolve, reject) => {
        // delete user entry in database
        db.ref('/photos/' + this.userPhotosKey[index]).set(null).then(() => {
          console.log('successfully deleted photo in photo database')
          resolve()
        }, (error) => {
          console.log(error)
          reject()
        })
      })
    },
    deletePhotoFromPhotoDB: function (index) {
      return new Promise ((resolve, reject) => {
        // delete user entry in database
        this.userPhotosKey.splice(index, 1)
        db.ref('/users/' + auth.currentUser.uid + '/photos/').set(this.userPhotosKey).then(() => {
          console.log('successfully deleted photo in user database')
          resolve()
        }, (error) => {
          console.log(error)
          reject()
        })
      })
    }
  },
  mounted () {
    this.getPhotos()
  }
}
</script>

<style lang="scss">
@import './../styles/base.scss';
.Photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        font-size: 22px;
      }
      img {
        max-width: 200px;
      }
    }
    &_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: $spacer/2;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      &--image {
        display: flex;
        align-items: center;
        height: 195px;
        width: 260px;
        background-color: black;
        img {
          max-height: 195px;
          max-width: 260px;
        }
      }
      &--category {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: lighten($primary,5);
        padding: $spacer/2 $spacer/2 0 $spacer/2;
        span {
          font-family: 'Allerta Stencil', sans-serif;
          color: $grey-light;
          font-weight: 100;
        }
      }
      &--info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 54px;
        width: 100%;
        color: $grey-light;
        font-size: 16px;
        font-family: 'Allerta Stencil', sans-serif;
        padding: 0 $spacer/2 $spacer/2 $spacer/2;
        background-color: lighten($primary,5);
        button {
          margin: 0 !important;
          i {
            margin: 0;
          }
        }
        span {
          margin-right: $spacer/2;
        }
        i {
          margin-right: $spacer/4;
        }
      }
    }
}
</style>
