<template>
  <div>
    <v-dialog
        v-model="processDialogOpen"
        width="250">
      <v-card>
        <v-card-title class="headline">Processing...</v-card-title>
        <v-card-text>
          <div class="ProcessDialog_info">
            <div class="ProcessDialog_info--item">
              <v-progress-circular
                v-if="!censoring && censored"
                indeterminate
                size="20"
                :width="width"
                color="primary">
              </v-progress-circular>
              <v-icon color="#4CAF50" v-if="censoring">check</v-icon>
              <span v-if="censored">Picture censored</span>
            </div>
            <div class="ProcessDialog_info--item">
              <v-progress-circular
                v-if="!uploadingStorage"
                indeterminate
                size="20"
                :width="width"
                color="primary">
              </v-progress-circular>
              <v-icon color="#4CAF50" v-if="uploadingStorage">check</v-icon>
              <span>Uploaded to storage</span>
            </div>
            <div class="ProcessDialog_info--item">
              <v-progress-circular
                v-if="!writingUserDB"
                indeterminate
                size="20"
                :width="width"
                color="primary">
              </v-progress-circular>
              <v-icon color="#4CAF50" v-if="writingUserDB">check</v-icon>
              <span>Written in user database</span>
            </div>
            <div class="ProcessDialog_info--item">
              <v-progress-circular
                v-if="!writingPhotoDB"
                indeterminate
                size="20"
                :width="width"
                color="primary">
              </v-progress-circular>
              <v-icon color="#4CAF50" v-if="writingPhotoDB">check</v-icon>
              <span>Written in photo database</span>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

export default {
  name: 'ProcessDialog',
  props: ['identifyPicture', 'censorePicture', 'uploadStorage', 'writeUserDB', 'writePhotoDB'],
  data () {
    return {
      snackbar: true,
      processDialogOpen: true,
      censored: false,
      width: 2,
    }
  },
  computed: {
    uploadingStorage () {
      return this.uploadStorage
    },
    censoring () {
      return this.censorePicture
    },
    writingUserDB () {
      return this.writeUserDB
    },
    writingPhotoDB () {
      return this.writePhotoDB
    }
  },
  watch: {
    processDialogOpen () {
      if (!this.processDialogOpen) {
        this.$emit('dialogClosed')
      }
    },
    writingPhotoDB () {
      if (this.writingPhotoDB) {
        this.processDialogOpen = false
      }
    }
  },
  mounted () {
    if (this.identifyPicture === 'censored') {
      this.censored = true
    } else {
      this.censored = false
    }
  }
}
</script>

<style lang="scss">
@import './../styles/base.scss';
.v-card__title.headline {
  padding-bottom: 0;
}
.ProcessDialog {
  &_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: $spacer/2;
    &--item {
      display: flex;
      align-items: center;
      padding: $spacer/4;
      i {
        margin-right: $spacer/2.75;
      }
      .v-progress-circular {
        margin-right: $spacer/2;
      }
    }
  }
}
</style>
