<template>
  <v-card>
    <v-card-title class="headline">Upload</v-card-title>
    <v-card-text>
      <div class="Upload">
        <div class="Upload_wrapper">
          <input name="upload" type="file" @change="inputChange($event)" id="uploadInput"/>
        </div>
      </div>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
        <v-progress-circular
          v-if="uploading === true"
          indeterminate
          color="#4CAF50">
        </v-progress-circular>
      <v-btn id="Upload_dialog--button" @click="uploadFile" dark fab color="pink"><v-icon>publish</v-icon></v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import {storage} from '../api/firebaseConfig'

export default {
  name: 'Upload',
  data () {
    return {
      selectedFile: '',
      uploading: false
    }
  },
  methods: {
    inputChange: function (event) {
      document.getElementById('uploadButtonDialog').style.visibility = "visible"
      this.selectedFile = event.target.files[0]
    },
    uploadFile: function () {
      this.uploading = true
      let randomKey = this.generateRandomKey()
      let storageRef = storage.child('/photos/' + randomKey)
      storageRef.put(this.selectedFile).then(() => {
        console.log('successfully added to storage')
        storageRef.getDownloadURL().then((url) => {
          let fileURL = url
          this.uploading = false
          this.$emit('uploadUrl', fileURL)
        }).catch((error) => {
          console.log(error)
        })
      })
    },
    generateRandomKey: function () {
      let randomKey = ""
      let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789"
      for (let i = 0; i < 8; i++)
        randomKey += possible.charAt(Math.floor(Math.random() * possible.length))
      return randomKey
    }
  }
}
</script>

<style lang="scss">
@import './../styles/base.scss';
.v-input.categorySelect {
  margin-top: $spacer;
}
.v-list__tile.v-list__tile--link.theme--light {
  color: $primary !important;
}
#Upload_dialog--button {
  visibility: hidden;
}
</style>
