<template>
  <v-app id="app">
    <router-view name="navigation"/>
    <router-view/>
  </v-app>
</template>

<script>
export default {name: 'App'}
</script>

<style lang="scss">
@import './styles/base.scss';
#app {
  min-height: 100vh;
  background-color: $primary;
}
</style>
